.actionLink {
  width: 15rem;
  height: 2.5rem;
  background-color: $black;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  color: $purple;
  cursor: pointer;

  .actionLink__a {
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 2.5rem;
    background: linear-gradient(to left, $purple 50%, $black2 50%) left;
    background-size: 200% 100%;
    &:hover {
      background-position: right;
      transition-duration: 0.2s;
      color: $black;
    }
  }

  .actionLink__addOn {
    display: flex;
    float: right;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 100%;
    background-color: $purple;
    color: $black;
    font-size: 2rem;
    font-weight: 400;
  }
}

.sectionHeaderBox {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 33%;
  height: 100%;
  float: right;

  h3 {
    font-family: $font-c;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.5rem;
    color: $grey;
  }
  h1 {
    font-size: 4rem;
    width: 100%;
    margin-bottom: 2rem;

    background-image: url(../Assets/textbg.webp);
    background-clip: text;
    background-position: top right;
    -webkit-background-clip: text;
    color: transparent;
  }
}

.basicSection {
  height: 100svh;
  width: 100%;
  background-color: $black;
  color: white;
  font-family: $font-b;
  border-top: solid 2px white;
}
